{% extends "layout.html" %}
{% block main %}
            <!-- start main area -->
<!-- typing javascript -->
        <script type=text/javascript src="/js/typing.js"></script>
        <main class = "site-main">

            <!-- start banner area -->
            <section class = "site-banner">
                <div class = "container">
                    <div class = "row">
                        <div class = ".col-md col-sm col- site-title">
                            <h1 class = "my-default-h1 left-align">Welcome,</h1>
                            <h2 class = "my-default-h2 left-align"> we are</h2>
                            <img class = "landing-size" src = "/static/logo.png" alt = "Skin Dictionary">
                            <!-- really cool typing animation element I adapted from :https://www.codesdope.com/blog/article/12-creative-css-and-javascript-text-typing-animati/ -->
                            <h4 class = "my-default-h4">your guide to conquering the confusing world of skincare.
                            <!--<span-->
                            <!--class = "txt-rotate"-->
                            <!--data-period = "2000"-->
                            <!--data-rotate = '["guide to conquering the confusing world of skincare", "skincare guru bestie", "interactive skin e-encyclopedia", "guilty pleasure brain-”break” center", "pal, dedicated to helping you reach your skincare goalz"]'>-->
                            <!--</span>-->
                            </h4>
                        </div>
                    </div>
                    <div class = "row">
                            <h2 class = "my-default-h2">beautiful skin <a href="/request" class="landing-button">awaits</a></h2>
                    </div>
                </div>
            </section>
            <!-- end banner area -->


        </main>

        <!-- end main area -->
{% endblock %}
