{% extends "layout.html" %}


{% block main %}
<div class = "container">
    <h2 class = "my-default-h2">for you</h2>
</div>
                    <table class = "table table-hover">
                    <thead class = "my-default-h6">
                        <tr>
                            <th>Product</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Loves</th>

                        </tr>
                    </thead>
                    <tbody class = "my-default-p">
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for product in lowrec%}
                        <tr class = "low-price">
                            <td>
                                <a href={{product.prod_link}}>{{product.prod_name}}</a>
                            </td>
                            <td>
                                {{ product.prod_brand}}
                            </td>
                            <td>
                                {{product.prod_price | usd}}
                            </td>
                            <td>
                                {{product.prod_loves}}
                            </td>

                        </tr>
                        {% endfor %}
                        {% for product in midrec %}
                        <tr class = "mid-price">
                            <td>
                                <a href={{product.prod_link}}>{{product.prod_name}}</a>
                            </td>
                            <td>
                                {{ product.prod_brand}}
                            </td>
                            <td>
                                {{product.prod_price | usd}}
                            </td>
                            <td>
                                {{product.prod_loves}}
                            </td>

                        </tr>
                        {% endfor %}
                        {% for product in highrec %}
                        <tr class = "high-price">
                            <td>
                                <a href={{product.prod_link}}>{{product.prod_name}}</a>
                            </td>
                            <td>
                                {{ product.prod_brand}}
                            </td>
                            <td>
                                {{product.prod_price | usd}}
                            </td>
                            <td>
                                {{product.prod_loves}}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}
